*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #007bfe;
    --secondary: #05a2f7;
}
body{
    background-color: var(--primary-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-inline: 64px;
    font-family: "Righteous", sans-serif;
}
a{
    text-decoration: none;
    color: inherit
}
header{
    height: 100px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}
header div{
    display: flex;
    gap: 24px;
}
header a{

    height: 100px;
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 24px;
    color: var(--secondary);
}
header img{
    height: 50px;
}
main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title{
    text-align: center;
    color: white;
}
.title h1{
    font-size: 20vw;
    
    
}
.title span{
    position: absolute;
    font-size: 25vw;
    top:-10%;
    left:0;
    opacity: 0.3;
}
.container{
    height: 200px;
    display: flex;
}
.container div{
     width: 50%;
    color: var(--secondary);
    z-index:1;
}
.container h2{
    font-size: 64px;
}
.container p{
    width: 500px;
}
.action {
    display: flex;
    justify-content: end;
    align-items: center;
}
.container a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    height: 100px;
    width: 400px;
    color: white;
    font-size: 48px;
}
footer{
    height: 50px;
    color: var(--secondary);
    text-align: center;
    font-size: italic;
}
.Motres-image{
    position: absolute;
    top: -40%;
    left: -50%;
    transform: translate(-50%, -50%);
    height: 75vh;
}
@media (max-width:960px){
    body{
      padding-inline: 32px;
   }
   main{
      justify-content: space-between;
   }
   .container p{
      width: 80%;
   }
   .container{
      flex-direction: column;
      height: auto;
      align-items: center;
      text-align: center;
   }
   .conteiner div{
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;

   }
   footer{
      display: none;
   }
 }
 .pikachu-image{
   height: 50vh;
 }

   @media
   (max-width:640px)
 {
   header.div{
      display: none;
   }
   .conteiner div{
      width: 100%

   }
   .conteiner p{
      display: none;
   
   }
   .conteiner h2{
      font-size: 36px;
   }
   .title span{
      position: absolute;
      font-size: 25vw;
      top: -10%;
      left: 50%;
      opacity: 0.3;
 
    
   }
}

/* mobile */
@media(max-width: 640px){
   header div{
       display: none;
   }
   .container div{
       width: 100%;
   }
   .container p{
       display: none;
   }
   .container h2{
       font-size: 36px;
   }
   .title span{
       left: 50%;
       transform: translateX(-50%);
   }
}
 